/* CSS RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* CSS RESETS END  */

/* HEADER SECTION */
img {
  height: 3rem;
  width: auto;
}

.header__main-div {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  height: 8vh;
  background: rgba(128, 128, 128, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.header__heading-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav-div ul {
  font-size: x-large;
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 100%;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.header__nav-div a,
.h1 a {
  color: white;
  text-decoration: none;
  transition: 0.5s ease;
}

.header__nav-div a:hover,
.h1 a:hover {
  filter: drop-shadow(white 0px 0px 10px);
  color: white;
  text-align: center;
}

.header__socials-div {
  display: flex;
  align-items: center;
}

.header__socials-div ul,
svg {
  display: flex;
  gap: 2rem;
  height: 24px;
  width: auto;
  list-style-type: none;
  fill: white;
}

.icons {
  transition: 0.5s ease;
  fill: white;
}

.icons:hover {
  filter: drop-shadow(white 0px 0px 8px);
}

.cyprus {
  height: 30px;
  width: auto;
}

.social3 {
  display: flex;
  align-items: center;
}

.social1 {
  display: flex;
  align-items: center;
}

.centering__div a {
  text-decoration: none;
}
/* END OF HEADER */

/* <================= FAQS SECTION =================> */

.section__faq {
  font-family: "Roboto", sans-serif;
  display: flex;
  padding: 5rem 0;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.section__faq__left-div {
  width: 50%;
  padding: 0 8rem;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 3rem;
  margin: 2rem 0rem 1rem 0rem;
}

.faq__inform {
  color: #daa520;
  font-size: xx-large;
  font-weight: 700;
  padding-bottom: 1rem;
}

.faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  cursor: pointer;
  border-bottom: #000000 solid 1px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: 1.8rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}

.faq.active .answer {
  max-height: 300px;
  animation: fadeInText 1s ease-in-out;
}

.question:hover {
  color: #daa520;
}

.faq.active svg {
  transform: rotate(-180deg);
}

svg {
  fill: black;
  transition: transform 0.2s ease-in;
}

.faq1.faq.active .answer {
  max-height: 160px;
  animation: fadeInText 1s ease-in-out;
}

.faq2.faq.active .answer {
  max-height: 160px;
  animation: fadeInText 1s ease-in-out;
}

.faq3.faq.active .answer {
  max-height: 160px;
  animation: fadeInText 1s ease-in-out;
}

.faq4.faq.active .answer {
  max-height: 230px;
  animation: fadeInText 1s ease-in-out;
}

.faq5.faq.active .answer {
  max-height: 120px;
  animation: fadeInText 1s ease-in-out;
}
/* END OF FAQ SECTION */



/* FOOTER SECTION  */
footer {
  font-family: "Roboto", sans-serif;
  background-color: #dfb553;
  color: #f6f9fc;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.second__footer {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

footer ul a {
  text-decoration: none;
  list-style-type: none;
  color: white;
}

footer ul li:hover {
  text-decoration: underline;
}

.text__footer {
  padding-top: 2rem;
}

.footer__hr-undertext {
  margin: 0 auto;
  margin-top: 2rem;
  border: white 0.1px solid;
}

.footer__ul-list {
  display: flex;
  gap: 2rem;
  padding-top: 3rem;
  max-width: 100%;
  cursor: pointer;
}

.footer__ul-list li {
  list-style-type: none;
  color: black;
}

.text__under-ul {
  padding-top: 3rem;
}

.text__under-ul a:hover {
  text-decoration: underline;
}

.text__under-ul a {
  color: white;
  text-decoration: none;
}

.footer__text-bottom {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.footer__main-text-bottom-div,
.footer__main-text-bottom-div a {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  color: white;
}

.footer__arrow svg {
  display: none;
}
/* <=============== END OF FOOTER ===============> */

/* <================ Footer Media Queries ==================> */
@media (max-width: 900px) {
  .second__footer {
    max-width: 700px;
  }
}

@media (max-width: 700px) {
  .footer__ul-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .footer__ul-list ul {
    padding: 0;
    padding-bottom: 0.5rem;
    border-bottom: solid 1px white;
  }

  .footer__arrow {
    display: flex;
    justify-content: space-between;
  }

  .footer__arrow svg {
    display: block;
    fill: white;
    transition: transform 0.2s ease-in;
  }

  .footer__arrow svg {
    transition: transform 0.3s ease;
  }

  .footer__arrow.active svg {
    transform: rotate(180deg);
  }

  .list-show {
    display: none;
  }
  .list-show.active {
    display: block;
  }
}
