---
import srcImage from "../assets/Coding.webp";
import Images from "../assets/image 119.svg";
import { Image } from "astro:assets";
// Head Layout
import MainLayout from "../layouts/MainLayouts.astro";
import MainHead from "../layouts/MainHead.astro";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
  <MainHead>
    <style>
      /* <============FIRST SECTION OF WEBSITE ===============> */

      .first__section {
        background-image: url(../assets/pexels-pixabay-256643.jpg);
        background-size: 180%;
        height: 100vh;
      }

      .container {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 2.5rem;
      }

      .container__heading {
        display: block;
        font-size: 6rem;
        width: 22ch;
        line-height: 1;
        font-family: "Roboto", sans-serif;
        color: white;
        filter: drop-shadow(1px 1px 20px #000000);
      }

      .extra__main-heading {
        color: white;
        font-family: "Roboto", sans-serif;
        filter: drop-shadow(1px 1px 20px #000000);
      }

      .strong__text1 {
        color: #f3e5ab;
      }

      .container__paragraph {
        font-size: 3rem;
        font-family: "Great Vibes", cursive;
        text-align: center;
        padding-bottom: 1rem;
        color: white;
        filter: drop-shadow(0px 0px 6px #000000);
      }

      .container__btn {
        font-family: "Roboto", sans-serif;
        font-size: larger;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        padding: 1rem 2rem;
        font-weight: 700;
        color: black;
        background-color: #f6f9fc;
        transition: 1s ease;
      }

      .container__btn:hover {
        scale: 1.05;
      }

      /* SECOND SECTION */

      .second-section {
        background: rgb(255, 255, 255);
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.7945553221288515) 100% rgba(158, 158, 158, 1) 50%,
          rgba(255, 255, 255, 1) 0%
        );
        height: 220vh;
      }

      .height-of-text {
        width: 49%;
        height: 30vh;
        display: flex;
        justify-content: right;
        align-items: end;
      }

      .text-top-right {
        font-family: "Roboto", sans-serif;
        width: 55ch;
        font-size: 1.2rem;
      }

      .p2 {
        color: #86868b;
        font-weight: 500;
      }

      .p1 {
        color: #daa520;
        font-weight: 900;
      }

      strong {
        color: grey;
      }

      .main {
        display: flex;
        justify-content: center;
        gap: 3rem;
        padding-top: 5rem;
      }

      .boxes {
        height: 750px;
        width: 600px;
        background-color: white;
        padding: 6px;
        border-radius: 0.5rem;
        box-shadow: 1px 33px 58px -8px rgba(56, 56, 56, 0.75);
        -webkit-box-shadow: 1px 33px 58px -17px rgba(56, 56, 56, 0.75);
        -moz-box-shadow: 1px 33px 58px -17px rgba(56, 56, 56, 0.75);
        font-family: "Roboto", sans-serif;
      }

      .box1,
      .box2,
      .box3,
      .box4 {
        transition: 0.5s ease;
      }

      .box1:hover,
      .box2:hover,
      .box3:hover,
      .box4:hover {
        transform: scale(1.02);
      }

      .extra-left {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 180vh;
      }

      .grey-box-inside {
        height: 400px;
        width: 100%;
        background-color: #f5f5f5;
        border-radius: 0.5rem;
      }

      .greybox1 {
        background-image: url(../assets/Communication.webp);
        background-size: cover;
      }

      .greybox2 {
        background-image: url(../assets/Coding.webp);
        background-size: cover;
        background-position: 25%;
      }

      .greybox3 {
        background-image: url(../assets/SEO.webp);
        background-size: cover;
        background-position: 50%;
      }
      .greybox4 {
        background-image: url(../assets/cameras.webp);
        background-size: cover;
        background-position: 50%;
      }

      .box1,
      .box3 {
        margin-bottom: 3rem;
      }

      .smaller-grey-box-inside {
        margin: 0.5rem 0;
        height: 50px;
        width: fit-content;
        background-color: #f5f5f5;
        border-radius: 0.5rem;
        display: flex;
        padding-left: 1rem;
        padding-right: 1rem;
        align-items: center;
        gap: 0.3rem;
      }

      .under__grey-box {
        padding: 20px;
      }

      .icons__inside-boxes {
        fill: black;
        display: inline-block;
      }

      .text__next-to-div {
        font-weight: 500;
      }

      /* <================ FURTHER INFO SECTION ====================> */

      .further__info-main-div {
        background-color: #daa520;
        width: 100%;
        height: 40vh;
        display: flex;
        align-items: center;
        font-family: "Roboto", sans-serif;
        margin: 3rem 0rem;
        margin-bottom: 5rem;
      }

      .further__info-heading1 {
        color: white;
      }

      .further__info-h1 {
        font-size: 3rem;
        color: #333333;
        line-height: 1;
      }

      .further__info-btn {
        border: none;
        background-color: #f6f9fc;
        color: black;
        font-weight: 700;
        margin-top: 1rem;
        padding: 0.5rem 2rem;
        border-radius: 0.5rem;
        cursor: pointer;
      }

      .further__info-right {
        position: relative;
        height: 100%;
        width: 40%;
        display: flex;
        justify-content: center;
      }

      .further__info-left {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }

      .testing-image {
        height: 100%;
        z-index: 10;
      }

      .avatar__shadow {
        width: 400px;
        height: 300px;
        background-color: #dab861;
        border-radius: 50%;
        position: absolute;
        top: 3rem;
        left: 0;
        right: 0;
        margin-inline: auto;
        filter: blur(45px);
      }

      /* <================= PHOTOGRAPHY SECTION =================> */

      .photography__main-div {
        height: 60vh;
        width: 95%;
        margin: 0 auto;
        background-image: url(../assets/pexels-abhishek-saini-1415858-2929412.jpg);
        border-radius: 0.5rem;
        background-size: 130%;
        background-position: 0% 60%;
        margin-bottom: 5rem;
      }

      .photography__left-div {
        width: 30%;
        padding: 2rem;
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: larger;
      }

      .photography__btn {
        background-color: white;
        color: black;
        border: none;
        border-radius: 0.5rem;
        margin-top: 3rem;
        padding: 0.5rem 2rem;
        cursor: pointer;
      }

      /* <================= FAQS SECTION =================> */

      .section__faq {
        font-family: "Roboto", sans-serif;
        display: flex;
        padding: 5rem 0;
        margin: 0 auto;
        margin-bottom: 5rem;
      }

      .section__faq__left-div {
        width: 50%;
        padding: 0 8rem;
        display: flex;
        justify-content: center;
      }

      .title {
        font-size: 3rem;
        margin: 2rem 0rem 1rem 0rem;
      }

      .faq__inform {
        color: #daa520;
        font-size: xx-large;
        font-weight: 700;
        padding-bottom: 1rem;
      }

      .faq {
        max-width: 700px;
        margin-top: 2rem;
        padding-bottom: 1rem;
        cursor: pointer;
        border-bottom: #000000 solid 1px;
      }

      .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .question h3 {
        font-size: 1.8rem;
      }

      .answer {
        max-height: 0;
        overflow: hidden;
        /* transition: 1.4s ease; */
      }

      .answer p {
        padding-top: 1rem;
        line-height: 1.6;
        font-size: 1.4rem;
      }

      .faq.active .answer {
        max-height: 300px;
        animation: fadeInText 1s ease-in-out;
      }

      .question:hover {
        color: #daa520;
      }

      .faq.active svg {
        transform: rotate(-180deg);
      }

      svg {
        fill: black;
        transition: transform 0.2s ease-in;
      }

      .faq1.faq.active .answer {
        max-height: 160px;
        animation: fadeInText 1s ease-in-out;
      }

      .faq2.faq.active .answer {
        max-height: 160px;
        animation: fadeInText 1s ease-in-out;
      }

      .faq3.faq.active .answer {
        max-height: 160px;
        animation: fadeInText 1s ease-in-out;
      }

      .faq4.faq.active .answer {
        max-height: 230px;
        animation: fadeInText 1s ease-in-out;
      }

      .faq5.faq.active .answer {
        max-height: 120px;
        animation: fadeInText 1s ease-in-out;
      }

      /* JAVASCRIPT FADE IN ANIMATION  */

      .hidden {
        opacity: 0;
        transition: all 1s ease;
        transform: translateY(15px);
      }

      .lefting {
        transition: all 1s ease;
        transform: translateX(-90%);
      }

      .fade__In {
        transition: all 3s ease-in;
        opacity: 0;
      }

      .show {
        opacity: 1;
        transform: translateY(0px);
        transform: translateX(0px);
      }
    </style>
  </MainHead>

  <body>
    <section class="first__section">
      <Header />
      <div class="first__section__main-div container">
        <div class="centering__div">
          <!-- TESTING LANGUAGE CHANGE -->
          <h1 class="extra__main-heading lefting animate-delay" id="greeting">
            Effortlessly
          </h1>
          <h3 class="container__heading left__slide-in lefting animate-delay">
            The <strong class="strong__text1">Ultimate</strong> solution for your
            business.
          </h3>
          <p class="container__paragraph lefting animate-delay">
            Web Development Agency
          </p>
          <a href="/meeting/"
            ><button class="container__btn lefting animate-delay"
              >Book a call</button
            ></a
          >
        </div>
      </div>
    </section>

    <!-- SECOND SECTION -->
    <section class="second-section" id="services">
      <div class="height-of-text">
        <div class="text-top-right hidden">
          <p class="p1">Choose Precisely</p>
          <h2 class="h2-ss">All of our services explained simply</h2>
          <p class="p2">
            Explore the array of services we offer below. Each service is
            designed with your satisfaction in mind, providing tailored
            solutions that address your specific <strong>problems</strong>.
            <br />
            Let us face your issues with <strong>ease</strong>.
          </p>
        </div>
      </div>

      <div class="main">
        <div class="extra-left">
          <div class="left-side">
            <div class="boxes box1 hidden">
              <div class="grey-box-inside greybox1"></div>
              <div class="under__grey-box">
                <div class="smaller-grey-box-inside">
                  <svg
                    class="icons__inside-boxes"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M3.433 17.325 3.079 19.8a1 1 0 0 0 1.131 1.131l2.475-.354C7.06 20.524 8 18 8 18s.472.405.665.466c.412.13.813-.274.948-.684L10 16.01s.577.292.786.335c.266.055.524-.109.707-.293a.988.988 0 0 0 .241-.391L12 14.01s.675.187.906.214c.263.03.519-.104.707-.293l1.138-1.137a5.502 5.502 0 0 0 5.581-1.338 5.507 5.507 0 0 0 0-7.778 5.507 5.507 0 0 0-7.778 0 5.5 5.5 0 0 0-1.338 5.581l-7.501 7.5a.994.994 0 0 0-.282.566zM18.504 5.506a2.919 2.919 0 0 1 0 4.122l-4.122-4.122a2.919 2.919 0 0 1 4.122 0z"
                    ></path>
                  </svg>
                  <div class="text__next-to-div">Discussion</div>
                </div>
                <h2>Communication is key to us</h2>
                <p>
                  This is not a service but for us effective communication is
                  crucial as it ensures clear understanding and alignment of
                  goals within the team, and it builds trust with clients like
                  you.
                </p>
              </div>
            </div>
            <div class="boxes box2 hidden">
              <div class="grey-box-inside greybox2"></div>
              <div class="under__grey-box">
                <div class="smaller-grey-box-inside">
                  <svg
                    class="icons__inside-boxes"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zM4 12c0-.899.156-1.762.431-2.569L6 11l2 2v2l2 2 1 1v1.931C7.061 19.436 4 16.072 4 12zm14.33 4.873C17.677 16.347 16.687 16 16 16v-1a2 2 0 0 0-2-2h-4v-3a2 2 0 0 0 2-2V7h1a2 2 0 0 0 2-2v-.411C17.928 5.778 20 8.65 20 12a7.947 7.947 0 0 1-1.67 4.873z"
                    ></path>
                  </svg>
                  <div class="text__next-to-div">Web Development</div>
                </div>
                <h2>Website creation is our main focus</h2>
                <p>
                  In today's digital world, having a website is essential for
                  your business. It serves as your 24/7 digital storefront,
                  providing a platform to showcase your products and services,
                  and helping to build credibility and attract more customers.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="right-side">
          <div class="boxes box3 hidden">
            <div class="grey-box-inside greybox3"></div>
            <div class="under__grey-box">
              <div class="smaller-grey-box-inside">
                <svg
                  class="icons__inside-boxes"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M20 3H4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2zm-5 5h-2V6h2zm4 0h-2V6h2zm1 5H4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2zm-5 5h-2v-2h2zm4 0h-2v-2h2z"
                  ></path>
                </svg>
                <div class="text__next-to-div">SEO</div>
              </div>
              <h2>Search Engine Optimization Boost</h2>
              <p>
                Our SEO services help your business reach a wider audience by
                optimizing your website with relevant keywords, enhancing site
                structure, and building quality backlinks, we ensure your
                business ranks higher when potential customers search for
                services like yours. This leads to increased traffic, more
                leads, and ultimately, higher conversions and growth for your
                business.
              </p>
            </div>
          </div>
          <div class="boxes box4 hidden">
            <div class="grey-box-inside greybox4"></div>
            <div class="under__grey-box">
              <div class="smaller-grey-box-inside">
                <svg
                  class="icons__inside-boxes"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.186 10.74L12 16.926 7.814 12.74a2.745 2.745 0 0 1 0-3.907 2.745 2.745 0 0 1 3.906 0l.28.279.279-.279a2.745 2.745 0 0 1 3.906 0 2.745 2.745 0 0 1 .001 3.907z"
                  ></path>
                </svg>
                <div class="text__next-to-div">Photography</div>
              </div>
              <h2>Professional Photography</h2>
              <p>
                We also offer professional photography if needed. This allows us
                to create custom, high-quality images specifically for your
                website, ensuring that your online presence is both unique and
                visually appealing. Using our own photos can greatly enhance the
                design and authenticity of your site. This integrated approach
                ensures that your website not only looks fantastic but also
                truly stands out in the digital landscape.
              </p>
              <div class="testing123"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="further__info-section">
      <div class="further__info-main-div">
        <div class="further__info-left">
          <h1 class="further__info-heading1 lefting">Guide & Info</h1>
          <h3 class="further__info-h1 lefting">
            Still don't understand what we do? <br /> Learn all you need to know
            here.
          </h3>
          <a href="/guide/"
            ><button class="further__info-btn lefting scroll__to-photography"
              >Learn Everything</button
            ></a
          >
        </div>
        <div class="further__info-right">
          <Image class="testing-image" src={Images} alt="" />
          <div class="avatar__shadow"></div>
        </div>
      </div>
    </section>

    <section class="photography__section">
      <div class="photography__main-div">
        <div class="photography__left-div">
          <h2 class="fade__In">About Our Photography</h2>
          <p class="fade__In">
            Our photography services capture the essence of your brand with
            high-quality visuals. Using a Sony A7iii camera body and a Viltrox
            75mm lens, we produce crisp, vibrant images that enhance your
            website, marketing materials, or social media.
            <br /><br />
            <p class="fade__In">
              Whether showcasing products, capturing interiors, or covering
              events, our photography brings a compelling visual dimension to
              your brand, increasing its appeal and engagement.
            </p>
          </p>
          <a href="/guide/#photography"
            ><button class="photography__btn fade__In">Learn More</button></a
          >
        </div>
        <div class="photography__right-div"></div>
      </div>
    </section>

    <!-- THIRD SECTION, FAQ -->
    <section class="section__faq">
      <div class="section__faq__left-div">
        <div class="section__faq__left-div__centering-div">
          <h2 class="title hidden">How can we help you?</h2>
          <p class="faq__inform hidden">FAQs</p>
          <p class="paragraph hidden">
            Here we've gathered some of the most commonly asked questions to
            help provide you with quick answers to your inquiries. Whether
            you're curious about our services, policies, or any other aspect of
            our operations, we hope you'll find the information you're looking
            for right here. If your question isn't answered below, please don't
            hesitate to reach out to us directly for further assistance.
          </p>
        </div>
      </div>

      <div class="section__faq__right-div hidden">
        <div class="faq faq1">
          <div class="question">
            <h3>How long does a project take?</h3>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="m6.293 13.293 1.414 1.414L12 10.414l4.293 4.293 1.414-1.414L12 7.586z"
              ></path>
            </svg>
          </div>
          <div class="answer">
            <p>
              "Typically, a web development project takes around two weeks. This
              allows time for consultation, design, development, testing, and
              revisions. The duration ensures we deliver a unique, high-quality
              website that meets your needs and exceeds expectations."
              <a href="/guide/#go__to-duration">read more</a>
            </p>
          </div>
        </div>

        <div class="faq faq2">
          <div class="question">
            <h3>Whats your services prices</h3>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="m6.293 13.293 1.414 1.414L12 10.414l4.293 4.293 1.414-1.414L12 7.586z"
              ></path>
            </svg>
          </div>
          <div class="answer">
            <p>
              "The price for a web development project varies based on the
              scope, features, and customization required. Factors such as
              design complexity, functionality, and additional services can
              influence the cost"
              <a href="/guide/#go__to-duration">read more</a>
            </p>
          </div>
        </div>

        <div class="faq faq3">
          <div class="question">
            <h3>I need to contact you</h3>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="m6.293 13.293 1.414 1.414L12 10.414l4.293 4.293 1.414-1.414L12 7.586z"
              ></path>
            </svg>
          </div>
          <div class="answer">
            <p>
              "You can find our contact information in the footer section of the
              website. Additionally, to discuss your project in more detail, you
              can book a meeting directly from the homepage by clicking the
              'Book a call' button."
              <a href="/guide/#assistance__section">read more</a>
            </p>
          </div>
        </div>

        <div class="faq faq4">
          <div class="question">
            <h3>Whats this agency about?</h3>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="m6.293 13.293 1.414 1.414L12 10.414l4.293 4.293 1.414-1.414L12 7.586z"
              ></path>
            </svg>
          </div>
          <div class="answer">
            <p>
              "Our agency specializes in creating high-quality, easy-to-use
              websites for businesses. We focus on delivering websites that not
              only look great but also have strong SEO, helping potential
              customers to find them easily. Additionally, we offer photography
              services to enhance visual content for businesses, ensuring a
              comprehensive online presence."
              <a href="/guide/">read more</a>
            </p>
          </div>
        </div>

        <div class="faq faq5">
          <div class="question">
            <h3>Are refunds available?</h3>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="m6.293 13.293 1.414 1.414L12 10.414l4.293 4.293 1.414-1.414L12 7.586z"
              ></path>
            </svg>
          </div>
          <div class="answer">
            <p>
              Unfortunately, refunds are not available for our web development
              services as resources are allocated immediately to ensure timely
              project completion and high-quality delivery.
              <a href="/guide/#refunds__section">read more</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <Footer />
    <script>
      // Scroll In Animations

      const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("show");
          } else {
            entry.target.classList.remove("show");
          }
        });
      });

      const hiddenElements = document.querySelectorAll(".hidden");
      hiddenElements.forEach((el) => observer.observe(el));

      const leftElements = document.querySelectorAll(".lefting");
      leftElements.forEach((el) => observer.observe(el));

      const fadeIn = document.querySelectorAll(".fade__In");
      fadeIn.forEach((el) => observer.observe(el));

      // Scroll To Services Section Animation

      function scrollToElement(elementSelector, instance = 0) {
        const elements = document.querySelectorAll(elementSelector);
        if (elements.length > instance) {
          elements[instance].scrollIntoView({ behavior: "smooth" });
        }
      }

      const services = document.querySelector("#test");

      services.addEventListener("click", () => {
        scrollToElement(".second-section");
      });

      const guideAndInfo = document.querySelector(".header__list3");

      guideAndInfo.addEventListener("click", () => {
        scrollToElement(".testing123");
      });

      const Photography = document.querySelector(".header__list4");

      Photography.addEventListener("click", () => {
        scrollToElement(".scroll__to-photography");
      });

      // FREQUENTLY ASKED QUESTIONS

      const faqs = document.querySelectorAll(".faq");

      faqs.forEach((faq) => {
        faq.addEventListener("click", () => {
          faq.classList.toggle("active");
        });
      });

      // CHANGE LANGUAGE

      // Current language key
      let currentLang = "el";

      const lang = {
        en: {
          nav1: "Χαρτοφυλάκιο",
          greeting: "Effortlessly",
          description: "This is an example of a multi-language website.",
        },
        el: {
          nav1: "Χαρτοφυλάκιο",
          greeting: "Δκιαολε",
          description: "Ceci est un exemple de site web multilingue.",
        },
      };

      function toggleLanguage() {
        // Toggle the current language
        currentLang = currentLang === "en" ? "el" : "en";

        // Update texts on the page
        document.getElementById("greeting").textContent =
          lang[currentLang].greeting;
        document.getElementById("description").textContent =
          lang[currentLang].description;
        document.getElementById("nav1").textContent = lang[currentLang].nav1;

        // Update button text to show the language that can be switched to next
        document.getElementById("langButton").textContent =
          lang[currentLang].button;
      }

      // Set initial language and button label
      document.addEventListener("DOMContentLoaded", function () {
        toggleLanguage();
      });
    </script>
  </body>
</html>
