---
import Logo from "../assets/Logooooo.png";
import Icon from "../assets/Official-logo.png";

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alpen - Privacy & Policy</title>
    <link rel="icon" type="image/svg+xml" href={Icon.src}/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap"
      rel="stylesheet"
    />
    <style>
        /* CSS RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: Dafoe;
  src: url(/Mr_Dafoe/MrDafoe-Regular.ttf);
}

/* HEADER SECTION */
img {
  height: 3rem;
  width: auto;
}

.header__main-div {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  height: 8vh;
  background: #daa520;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.header__heading-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 a {
    transition: 0.5s ease;
}

.h1 a:hover {
  filter: drop-shadow(white 0px 0px 10px);
  color: white;
  text-align: center;
}

/*=================== MAIN SECTION ================*/

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
    margin-top: 3rem;
    height: 500vh;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-family: "Great Vibes", cursive;
    font-size: 3.5rem;
    text-align: center;
}

h3 {
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
}

.line__under-heading {
  border: 1px solid rgba(0, 0, 0, 0.251);
  margin: 3rem 0;
}

p {
    font-size: 1.3rem;
    padding-bottom: 2rem;
}

.privacy {
  padding-bottom: 2rem;
}

.div-privacy-and-policies {
    max-width: 100ch;
}
    </style>
  </head>

  <body>
    <div class="header__main-div">
      <div class="header__heading-div">
        <h1 class="h1">
          <a href="/"
            ><img
              class="header__alpen-logo"
              src={Logo.src}
              alt="Transparent Alpen logo image"
          /></a>
        </h1>
      </div>
    </div>

    <section class="main-section">
      <div class="div-privacy-and-policies">
        <h1>Privacy & Policies</h1>
        <hr class="line__under-heading" />
        <div class="privacy privacy1">
          <h3>Introduction</h3>
          <p>
            At Alpen, based in Ayia Napa, Cyprus, we are committed to protecting
            the privacy and personal information of our clients and website
            visitors. This Privacy Policy outlines the types of data we collect,
            how we use it, and the measures we take to safeguard your
            information. It applies to all users of our website and clients of
            our web development services. By using our services, you consent to
            the collection and use of your information as described in this
            policy.
          </p><div id="data__section"></div>
        </div>
        <div class="privacy privacy2">
          <h3>Data collection</h3>
          <p>
            We collect basic information through our contact form to facilitate
            communication with our clients and potential clients. This
            information includes your name, email address, and desired meeting
            location, or an option for a Google Meet video call that can last as
            many minutes as needed from the options available. Additionally, when working with a business, we may collect information about the business, such as its name, industry, and project details, which we may post on our website to showcase our collaboration and share the work we've done together. <br />
            <br />
            WE DO NOT USE COOKIES OR OTHER TRACKING TECHNOLOGIES ON OUR WEBSITE.
          </p><div id="data-use__section"></div>
        </div>
        <div class="privacy privacy3">
          <h3>Data use</h3>
          <p>
            The information collected by Alpen is used primarily to facilitate communication with our clients and potential clients. We use your name, email address, and meeting preferences to arrange and schedule meetings, whether in-person at a desired location or via Google Meet. This helps us understand and address your web development needs effectively. The data also allows us to provide personalized responses, improve our services, and ensure seamless communication throughout our engagement.
          </p><div id="data-sharing__section"></div>
        </div>
        <div class="privacy privacy4">
          <h3>Data Sharing</h3>
          <p>
            We may share the information collected from our clients and website visitors with third-party services, such as scheduling platforms (e.g., Cal) and payment processors (e.g., Stripe). These third-party services are essential for facilitating smooth communications, meetings, and transactions. We ensure that any data shared with these services is protected by industry-standard security measures, including encryption and secure servers, to keep your information safe and secure at all times. We do not share your data with any other entities outside of these essential services.
          </p><div id="user-rights__section"></div>
        </div>
        <div class="privacy privacy5">
          <h3>User Rights</h3>
          <p>
            Alpen recognizes and respects the rights of our clients and website visitors regarding their personal information. You have the right to access, correct, or delete your data held by us. If you wish to exercise any of these rights, please contact us directly, and we will process your request promptly. We strive to maintain the accuracy and security of your information, and by enabling you to access and manage your data, we ensure transparency and control over its use.
          </p><div id="updates__section"></div>
        </div>
        <div class="privacy privacy6">
          <h3>Policy Updates</h3>
          <p>
            Alpen may update this Privacy Policy from time to time to reflect changes in our practices or applicable laws. Any updates will be posted on our website, and the effective date will be clearly stated. Additionally, if we've previously worked together, you will be notified immediately via email of any policy changes. We encourage our clients and website visitors to review this policy periodically to stay informed about how we handle their data. By continuing to use our services or visit our website after changes are made, you agree to the revised policy.
          </p><div id="contact__section"></div>
        </div>
        <div class="privacy privacy7">
          <h3>Contact Information</h3>
          <p>
            If you have any questions or concerns regarding this Privacy Policy or your data, please feel free to contact us. You can reach Alpen by email at alpencyprus@gmail.com or by phone at +357 99725225. We are here to assist you and address any concerns you may have.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
