---
import Logo from "../assets/Logooooo.png";
import Icon from "../assets/Official-logo.png";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aplen - Terms & Conditions</title>
    <link rel="icon" type="image/svg+xml" href={Icon.src}/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap"
      rel="stylesheet"
    />
    <style>
      /* <=================IGNORE CSS RESETS===================> */
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      * {
        margin: 0;
      }

      body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
      }

      img,
      picture,
      video,
      canvas,
      svg {
        display: block;
        max-width: 100%;
      }

      input,
      button,
      textarea,
      select {
        font: inherit;
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        overflow-wrap: break-word;
      }

      #root,
      #__next {
        isolation: isolate;
      }

      @font-face {
        font-family: Dafoe;
        src: url(/Mr_Dafoe/MrDafoe-Regular.ttf);
      }

      /* HEADER SECTION */
      img {
        height: 3rem;
        width: auto;
      }

      .header__main-div {
        display: flex;
        justify-content: space-between;
        padding: 0 3rem;
        height: 8vh;
        background-color: #DFB553;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border: 1px solid rgba(255, 255, 255, 0.18);
      }

      .header__heading-div {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .h1 a {
        transition: 0.5s ease;
      }

      .h1 a:hover {
        filter: drop-shadow(white 0px 0px 10px);
        color: white;
        text-align: center;
      }

      /*=================== MAIN SECTION ================*/

      .main-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        /* height: 330vh; */
        font-family: "Poppins", sans-serif;
      }

      h1 {
        font-family: "Great Vibes", cursive;
        font-size: 3.5rem;
        text-align: center;
      }

      h3 {
        font-size: 1.5rem;
        padding-bottom: 0.3rem;
      }

      .line__under-heading {
        border: 1px solid rgba(0, 0, 0, 0.251);
        margin: 3rem 0;
      }

      p {
        font-size: 1.3rem;
        padding-bottom: 2rem;
      }

      .terms {
        padding-bottom: 2rem;
      }

      .main__div-section {
        max-width: 100ch;
      }

      /* MEDIA QUERIES */
      @media (max-width: 1024px) {

        img {
          height: 2.5rem;
        }

        .header__main-div {
          padding: 0 2rem;
        }

        h1 {
          font-size: 3rem;
        }

        h3 {
          font-size: 1.3rem;
        }

        p {
          font-size: 1.3rem;
        }

        .main__div-section {
          max-width: 80ch;
        }
      }

      @media (max-width: 800px) {

        img {
          height: 2.2rem;
        }

        .header__main-div {
          padding: 0 1rem;
        }

        h1 {
          font-size: 3rem;
        }

        .main__div-section {
          max-width: 60ch;
        }
      }

      @media (max-width: 600px) {

        img {
          height: 2.2rem;
        }

        .header__main-div {
          padding: 0 1rem;
        }

        .main__div-section {
          padding: 0 1rem;
        }

        p {
            padding-bottom: 0.5rem;
        }
      }

      @media (max-width: 500px) {

        .header__main-div {
          height: 6vh;
        }

        img {
          height: 2rem;
        }

        .header__main-div {
          padding: 0 1rem;
        }

        h1 {
          font-size: 2.5rem;
        }

        h3 {
          font-size: 1.2rem;
        }

        p {
          font-size: 1.2rem;
          padding-bottom: 0.5rem;
        }
      }
    </style>
  </head>

  <body>
    <div class="header__main-div">
      <div class="header__heading-div">
        <h1 class="h1">
          <a href="/"
            ><img
              class="header__alpen-logo"
              src={Logo.src}
              alt="Transparent Alpen logo image"
            /></a
          >
        </h1>
      </div>
    </div>

    <section class="main-section">
      <div class="main__div-section">
        <h1>Terms & conditions</h1>
        <hr class="line__under-heading" />
        <div class="terms term1">
          <h3>Agreement to Terms & Conditions</h3>
          <p>
            By using this website, you agree to adhere to its terms and
            conditions, including its usage policies, privacy policy, and any
            applicable intellectual property guidelines. We reserve the right to
            modify these terms at any time, with updates being effective
            immediately upon posting. Please review them periodically to stay
            informed of any changes. Continued use of the website signifies your
            acceptance of these terms. If you do not agree to these terms,
            please refrain from using the website.
          </p><div id="content__section"></div>
        </div>
        <div class="terms term2">
          <h3>Content</h3>
          <p>
            "All rights to this website, including its content, design, layout,
            and intellectual property, belong to Alpen 2024. This encompasses
            all text, images, graphics, videos, and other materials displayed on
            the website. We also use images found on the internet, and all
            credits go to the respected owners. Any unauthorized use,
            reproduction, modification, or distribution of the website's content
            is strictly prohibited and may result in legal action. Alpen 2024
            reserves all rights to pursue necessary measures to protect its
            intellectual property. If you wish to reference or use any content
            from this website, please contact us directly for permission. We aim
            to protect our creative work while maintaining positive
            relationships with our visitors. Your cooperation in respecting
            these rights is greatly appreciated, and we look forward to
            continuing to provide valuable content and services through this
            website."
          </p><div id="third__party__section"></div>
        </div>
        <div class="terms term3">
          <h3>Third-Party Services; Sites; Apps;</h3>
          <p>
            The use of third-party services like Stripe and Cal is intended to
            enhance the website experience by providing secure and convenient
            options for payments and scheduling. While these services are
            trusted partners, users should be aware that any transactions or
            interactions with these third-party services are subject to their
            respective terms and conditions and privacy policies. Alpen 2024 is
            not liable for any issues arising from the use of these services. We
            encourage users to review the terms and policies of each service for
            a comprehensive understanding.
          </p>
          <p>
            Cal: Cal is a third-party service integrated into our website to
            provide convenient scheduling options. It allows users to easily
            book appointments, meetings, or other time-based events directly
            through our website. Cal's interface simplifies the process of
            finding and reserving available time slots, making it easier for
            both users and service providers to coordinate. Users should refer
            to Cal's terms and conditions and privacy policy to understand how
            their data is managed and used during the scheduling process.
          </p>
          <p>
            Stripe: Stripe is a third-party payment processing service
            integrated into our website to facilitate secure transactions. It
            handles payments seamlessly, allowing users to make purchases or
            donations directly on our platform. Stripe offers advanced security
            measures, such as encryption and fraud detection, to ensure the
            safety of user data and transactions. We encourage users to review
            Stripe's terms and conditions and privacy policy to understand how
            their financial information is managed and protected.
          </p>
          <p>
            "Instagram: We integrate Instagram into our website to enhance our
            social media presence and engagement with our audience. Instagram is
            a widely-used social media platform that allows us to share visual
            content, including images and videos, directly with our followers.
            Through Instagram, we can keep our audience updated on new
            developments, products, and services, as well as share
            behind-the-scenes content that helps to build a connection between
            Alpen 2024 and its visitors. The integration of Instagram also
            provides a direct link to our online community, allowing visitors to
            follow, like, comment, and share our content. We encourage users to
            review Instagram's terms and conditions and privacy policy for more
            information about how their interactions are managed."
          </p><div id="pricing__section"></div>
        </div>
        <div class="terms term4">
          <h3>Pricing</h3>
          <p>
            The prices displayed on our website are subject to change at any
            time without prior notice. While we strive to ensure accurate and
            up-to-date pricing information, discrepancies may occur due to
            various factors. In the event of a pricing error, we reserve the
            right to cancel or modify any orders placed at an incorrect price.
          </p>

          <p id="term5">
            All transactions are subject to the terms and conditions of our
            third-party payment processor, and additional fees or taxes may
            apply based on the location or nature of the transaction. Users are
            encouraged to review these terms and any applicable taxes or fees to
            avoid unexpected charges. If you have any questions or concerns
            about pricing, please contact us directly.
          </p><div id="violation__section"></div>
        </div>
        <div class="terms term5">
          <h3>Violation of These Terms of Use</h3>
          <p>
            Any violation of these terms of use, including but not limited to
            misuse of the website, unauthorized reproduction or distribution of
            content, or any other breach, may result in immediate termination of
            your access to the website. Alpen 2024 reserves the right to pursue
            all legal remedies available, including seeking injunctive relief or
            monetary damages, to protect its rights and interests.
          </p>

          <p id="term6">
            Users found in violation of these terms may also face civil or
            criminal penalties, depending on the nature and extent of the
            violation. We strongly encourage all visitors to read and adhere to
            these terms of use to ensure a secure and fair experience for all."
          </p><div id="feedback__section"></div>
        </div>
        <div class="terms term6">
          <h3>Feedback and Information</h3>
          <p>
            The information contained in this web site is subject to change
            without notice. <br />
            Copyright © 2022-2024 Alpen Inc. All rights reserved. <br />
            Alpen Inc., Ayia Napa, Famagusta, CY.
            <br /><br />
            Updated by The Alpen Legal Team on Nov. 20, 2023
          </p>
        </div>
      </div>
    </section>

    <Footer></Footer>

    <script src="script.js" defer></script>
  </body>
</html>
