<footer>
  <div class="second__footer">
    <div class="main__footer-toptext">
      <div class="text__footer">
        <p>
          It is highly reccomended to carefully read the privacy policies and
          terms of conditions for every client because it ensures that you're
          fully informed about how your engaging with our team and services,
          what rights you retain as a client, and the obligations you're
          agreeing to. These documents outline the legal framework governing
          your use of services or products, including the pricing but also the
          time period needed for the completion. Understanding these details
          helps protect your rights and prevent misunderstandings. It also
          empowers you to make informed decisions about engaging with our
          services, ensuring that your consent is truly informed and based on a
          clear comprehension of how we work.
        </p>
      </div>
    </div>
    <hr class="footer__hr-undertext" />
    <div class="footer__ul-list">
      <div class="footer__first-ul">
        <ul>
          <div class="footer__arrow">
            <h3>Terms & Conditions</h3>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="m6.293 13.293 1.414 1.414L12 10.414l4.293 4.293 1.414-1.414L12 7.586z"
              ></path>
            </svg>
          </div>
          <a href="/terms/">
            <li class="list-show">Agreement</li>
          </a>
          <a href="/terms/#content__section">
            <li class="list-show">Content</li>
          </a>
          <a href="/terms/#third__party__section">
            <li class="list-show">Third-Party Services</li>
          </a>
          <a href="/terms/#pricing__section">
            <li class="list-show">Pricing</li>
          </a>
          <a href="/terms/#violation__section">
            <li class="list-show">Violation</li>
          </a>
          <a href="/terms/#feedback__section">
            <li class="list-show">Feedback & Info</li>
          </a>
        </ul>
      </div>
      <div class="footer__second-ul">
        <ul>
          <div class="footer__arrow">
            <h3>Alpen's Policies</h3>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="m6.293 13.293 1.414 1.414L12 10.414l4.293 4.293 1.414-1.414L12 7.586z"
              ></path>
            </svg>
          </div>
          <a href="/privacy/">
            <li class="list-show">Introduction</li>
          </a>
          <a href="/privacy/#data__section">
            <li class="list-show">Data collection</li>
          </a>
          <a href="/privacy/#data-use__section">
            <li class="list-show">Data use</li>
          </a>
          <a href="/privacy/#data-sharing__section">
            <li class="list-show">Data Sharing</li>
          </a>
          <a href="/privacy/#user-rights__section">
            <li class="list-show">User Rights</li>
          </a>
          <a href="/privacy/#updates__section">
            <li class="list-show">Policy Updates</li>
          </a>
          <a href="/privacy/#contact__section">
            <li class="list-show">Contact Information</li>
          </a>
        </ul>
      </div>
      <div class="footer__third-ul">
        <ul>
          <div class="footer__arrow">
            <h3>Guide & Info</h3>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="m6.293 13.293 1.414 1.414L12 10.414l4.293 4.293 1.414-1.414L12 7.586z"
              ></path>
            </svg>
          </div>
          <a href="/guide/">
            <li class="list-show">Why we started</li>
          </a>
          <a href="/guide/#services__section">
            <li class="list-show">Our Services</li>
          </a>
          <a href="/guide/#go__to-duration">
            <li class="list-show">Project Details</li>
          </a>
          <a href="/guide/#instructions__section">
            <li class="list-show">Payment Instructions</li>
          </a>
          <a href="/guide/#contract__section">
            <li class="list-show">Contract</li>
          </a>
          <a href="/guide/#guide__section">
            <li class="list-show">Working Guide</li>
          </a>
          <a href="/guide/#refunds__section">
            <li class="list-show">Refunds</li>
          </a>
          <a href="/guide/#assistance__section">
            <li class="list-show">Further Assistance</li>
          </a>
        </ul>
      </div>
    </div>
    <div class="text__under-ul">
      <p>
        Any issues with the website contact
        <a href="mailto:alpencyprus@gmail.com">alpencyprus@gmail.com</a> or call
        at <a href="tel:357 99725225">+357 99725225</a>
      </p>
      <p>
        You can find us on <a href="https://www.instagram.com/alpency/"
          >@alpency</a
        > on Instagram
      </p>
    </div>
    <hr class="footer__hr-undertext" />
    <div class="footer__text-bottom">
      <div class="footer__text-bottom-left">
        Copyright © 2024 Alpen Inc. All rights reserved.
      </div>
      <div class="footer__main-text-bottom-div">
        <div class="footer__text-bottom-right">site map</div>
        <div class="footer__text-bottom-right">Cyprus</div>
      </div>
    </div>
  </div>
</footer>

<script>
  document.querySelectorAll(".footer__arrow h3").forEach(function (h3) {
    h3.addEventListener("click", function () {
      const ul = this.parentNode.parentNode; // Adjust according to your HTML structure
      ul.querySelectorAll(".list-show").forEach(function (li) {
        li.classList.toggle("active"); // Toggle visibility
      });
    });
  });
</script>
