---
import Image from "../assets/Logooooo.png";
import Cyprus from "../assets/cyprus-flag-national-europe-emblem-icon-illustration-abstract-design-element-free-vector.png";
---

<header>
    <div class="header__main-div">
        <div class="header__heading-div">
          <h1 class="h1">
            <a href="/"
              ><img
                class="header__alpen-logo"
                src={Image.src}
                alt=""
              />
            </a
            >
          </h1>
        </div>
        <div class="header__nav-div">
          <ul>
            <li class="header__nav-li header__list1" id="nav1">
              <a href="/portfolio/">Portfolio</a>
            </li>
            <li class="header__nav-li header__list2">
              <a id="test" href="/#services">Services</a>
            </li>
            <li class="header__nav-li header__list3">
              <a href="/guide/">Guide & Info</a>
            </li>
            <li class="header__nav-li header__list4">
              <a id="pricing__js" href="/#photography__section">Photography</a>
            </li>
          </ul>
        </div>
        <div class="header__socials-div">
          <ul>
            <li class="header__socials social1">
              <div id="langButton" onclick="toggleLanguage()">English</div>
            </li>
            <li class="header__socials social2">
              <a href="mailto:alpencyprus@gmail.com">
                <svg
                  class="icons icon2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="m18.73 5.41-1.28 1L12 10.46 6.55 6.37l-1.28-1A2 2 0 0 0 2 7.05v11.59A1.36 1.36 0 0 0 3.36 20h3.19v-7.72L12 16.37l5.45-4.09V20h3.19A1.36 1.36 0 0 0 22 18.64V7.05a2 2 0 0 0-3.27-1.64z"
                  ></path>
                </svg>
              </a>
            </li>
            <li class="header__socials social3">
              <a
                href="https://www.google.com/search?gs_ssp=eJzj4tDP1TcwLCgoNGD0YkuuLCgqLQYAMb0Ftw&q=cyprus&rlz=1C5CHFA_enCY1043CY1043&oq=cyprus&gs_lcrp=EgZjaHJvbWUqEggCEC4YQxiDARixAxiABBiKBTIGCAAQRRg8MgYIARBFGDsyEggCEC4YQxiDARixAxiABBiKBTIGCAMQRRg7MgYIBBAjGCcyDAgFEAAYQxiABBiKBTIGCAYQRRg8MgYIBxBFGD3SAQgyMDUxajBqN6gCALACAA&sourceid=chrome&ie=UTF-8"
              >
                <img
                  class="cyprus icons"
                  src={Cyprus.src}
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
</header>
